/**************************************************** 
      Paula Suárez Prieto - UO269745

En esta hoja de estilos se definen:
      - Los colores que forman la página Web
      - El tipo de fuente utilizada y su tamaño
      - Se personalizan los enlaces (elemento <a>)
      - Se define el estilo de la tabla
****************************************************/
/*Especificidad: 001*/
body {
      font-family: Arial, Helvetica, sans-serif, sans-serif;
      color: #4D4D4D;
      background-color: #FFFFFF;
      text-align: left;
}

      
/*Especificidad: 001*/
main {
      margin-left: 1em;
      margin-right: 1em;
}

/*Especificidad: 001*/
footer {
      text-align: center;
}


/*Especificidad: 001*/
h1 {
      color: #FFFFFF;    
      background-color:#712cf9; 
      padding: 1em; 
      text-align: center;  
      font-size: 4em;
      }

/*Especificidad: 001*/
h2 {
      font-size: 2em;
}

/*Especificidad: 001*/
h3 {
      font-size: 1.5em;
}


/*Especificidad: 001*/
a {
      outline: none;
      text-decoration: none;
}

/*Especificidad: 011*/
a:link {
      /*Hereda el background-color de body*/
      color: #712cf9;
}

/*Especificidad: 011*/
a:visited {
      /*Hereda el background-color de body*/
      color: #361970;
}

/*Especificidad: 011, Especificidad: 011, Especificidad: 011*/
a:focus , a:hover, a:active {
      border-bottom: 0.125em solid;
      color: #361970;
      /*Heredan el background-color de body*/
}

/*Especificidad: 002*/
nav img {
      padding-left: 3em;
 }

/*Especificidad: 002*/
nav a {
      font-weight: bold;
      font-size: 1em;
      display: block;
      border: 0.125em solid #712cf9;
      border-radius: 1em;
      padding: 1em;
}

/*Especificidad: 012*/
nav a:visited {
      color: #712cf9;
      background: #FFFFFF;
}

/*Especificidad: 012, Especificidad: 012*/
nav a:hover, nav a:focus {
      background: #712cf9;
      color: #FFFFFF;
}


/*Especificidad: 001*/
table {
      border: 0.125em solid #712cf9;
      width: 60%;
}

/*Especificidad: 001, Especificidad: 001*/
th, td {
      text-align: left;
      padding: 1em;
      border-collapse: collapse;
}

/*Especificidad: 011*/
tr:nth-child(even){
      background-color: #f2edfd;
      color: #4D4D4D;
}

/*Especificidad: 001*/
th {
      background-color: #712cf9;
      color: white;
}



/*Especificidad: 001*/
video {
      width: 60%;
      height: 60%;
}
