/**************************************************** 
      Paula Suárez Prieto - UO269745

      Descripción de los estilos que contiene
****************************************************/
/*Especificidad: 001*/
body {
      background-color: #fff;
}

/*Especificidad: 001*/
header {
      background-color:#FF5733; 
}
    
 
/*Especificidad: 001*/
main {   
      background-color:#76a263; 
}
    
/*Especificidad: 012*/
main > section:nth-child(2n+2){
      background-color:#33ffdd; 
}
    
    /*Selecciona los párrafos de las secciones*/
    /*/*Especificidad: 012*/
main > section:nth-child(2n+1){
      background-color:#ee33ff; 
}
    
/*Especificidad: 001*/
footer {   
      background-color:#74ff33; 
}
    
/*Especificidad: 001*/
a {
      display:inline;
}

/*Especificidad: 011*/
input[type="submit"], input[type="reset"]{
      padding: 0.5em;
      margin: 0.5em;
}



